<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="exportaXML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <exportaXML.Properties.Settings>
            <setting name="conexaoDB" serializeAs="String">
                <value>User=SYSDBA;
Password=masterkey;
Database=C:\Users\yurii\Documents\Github\exporta-xml\ecodados.eco;
DataSource=localhost;
Port=3050;Dialect=3;
Charset=NONE;Role=;
Connection lifetime=15;
Pooling=true;
MinPoolSize=0;
MaxPoolSize=50;
Packet Size=8192;
ServerType=0;</value>
            </setting>
            <setting name="processosExportar" serializeAs="String">
                <value>C:\Users\yurii\Documents\Github\exporta-xml\xml</value>
            </setting>
        </exportaXML.Properties.Settings>
    </userSettings>
</configuration>
